@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

body {
  margin: 0;
  font-family: 'Redressed', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  font-family: 'Redressed',cursive;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
